In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/tmp/data/train.csv',index_col=['PassengerId'])

In [3]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
def adding_personal_title(dataframe):
    import matplotlib 
    l = pd.Series(dataframe[['Name']].values.flatten()).str.findall('[\w.]+\.')
    titles = pd.Series(list(matplotlib.cbook.flatten(l))).str.replace('\.','')
    titles.index = np.arange(dataframe.index[0], len(titles)+dataframe.index[0])
    dataframe['PersonalTitle'] = titles

In [5]:
adding_personal_title(df)
df = pd.get_dummies(df, columns=["PersonalTitle"])

In [6]:
#cleaning
def cleaning_age(dataframe):
    mask = dataframe.Age.isnull()
    column_name = 'Age'
    mean_age = dataframe.Age.mean()
    dataframe.loc[mask, column_name] = mean_age
def cleaning_fare(dataframe):
    mask = dataframe.Fare.isnull()
    column_name = 'Fare'
    mean_fare = dataframe.Fare.mean()
    dataframe.loc[mask, column_name] = mean_fare

cleaning_age(df)
cleaning_fare(df)

In [7]:
#featuring 
#sex
def sex_to_number(dataframe):
    mask = dataframe.Sex == "male"
    column_name = 'Sex'
    dataframe.loc[mask, column_name] = 0
    mask = dataframe.Sex == "female"
    column_name = 'Sex'
    dataframe.loc[mask, column_name] = 1


    
sex_to_number(df)
df = pd.get_dummies(df, columns=["Embarked"])

df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,PersonalTitle_Mlle,PersonalTitle_Mme,PersonalTitle_Mr,PersonalTitle_Mrs,PersonalTitle_Ms,PersonalTitle_Rev,PersonalTitle_Sir,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,...,0,0,1,0,0,0,0,0,0,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,...,0,0,0,1,0,0,0,1,0,0
3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,...,0,0,0,0,0,0,0,0,0,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,...,0,0,0,1,0,0,0,0,0,1
5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,...,0,0,1,0,0,0,0,0,0,1
6,0,3,"Moran, Mr. James",0,29.699118,0,0,330877,8.4583,NaN,...,0,0,1,0,0,0,0,0,1,0
7,0,1,"McCarthy, Mr. Timothy J",0,54.000000,0,0,17463,51.8625,E46,...,0,0,1,0,0,0,0,0,0,1
8,0,3,"Palsson, Master. Gosta Leonard",0,2.000000,3,1,349909,21.0750,NaN,...,0,0,0,0,0,0,0,0,0,1
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.000000,0,2,347742,11.1333,NaN,...,0,0,0,1,0,0,0,0,0,1
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.000000,1,0,237736,30.0708,NaN,...,0,0,0,1,0,0,0,1,0,0
11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.000000,1,1,PP 9549,16.7000,G6,...,0,0,0,0,0,0,0,0,0,1
12,1,1,"Bonnell, Miss. Elizabeth",1,58.000000,0,0,113783,26.5500,C103,...,0,0,0,0,0,0,0,0,0,1
13,0,3,"Saundercock, Mr. William Henry",0,20.000000,0,0,A/5. 2151,8.0500,NaN,...,0,0,1,0,0,0,0,0,0,1
14,0,3,"Andersson, Mr. Anders Johan",0,39.000000,1,5,347082,31.2750,NaN,...,0,0,1,0,0,0,0,0,0,1
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.000000,0,0,350406,7.8542,NaN,...,0,0,0,0,0,0,0,0,0,1
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.000000,0,0,248706,16.0000,NaN,...,0,0,0,1,0,0,0,0,0,1
17,0,3,"Rice, Master. Eugene",0,2.000000,4,1,382652,29.1250,NaN,...,0,0,0,0,0,0,0,0,1,0
18,1,2,"Williams, Mr. Charles Eugene",0,29.699118,0,0,244373,13.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.000000,1,0,345763,18.0000,NaN,...,0,0,0,1,0,0,0,0,0,1
20,1,3,"Masselmani, Mrs. Fatima",1,29.699118,0,0,2649,7.2250,NaN,...,0,0,0,1,0,0,0,1,0,0
21,0,2,"Fynney, Mr. Joseph J",0,35.000000,0,0,239865,26.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
22,1,2,"Beesley, Mr. Lawrence",0,34.000000,0,0,248698,13.0000,D56,...,0,0,1,0,0,0,0,0,0,1
23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.000000,0,0,330923,8.0292,NaN,...,0,0,0,0,0,0,0,0,1,0
24,1,1,"Sloper, Mr. William Thompson",0,28.000000,0,0,113788,35.5000,A6,...,0,0,1,0,0,0,0,0,0,1
25,0,3,"Palsson, Miss. Torborg Danira",1,8.000000,3,1,349909,21.0750,NaN,...,0,0,0,0,0,0,0,0,0,1
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.000000,1,5,347077,31.3875,NaN,...,0,0,0,1,0,0,0,0,0,1
27,0,3,"Emir, Mr. Farred Chehab",0,29.699118,0,0,2631,7.2250,NaN,...,0,0,1,0,0,0,0,1,0,0
28,0,1,"Fortune, Mr. Charles Alexander",0,19.000000,3,2,19950,263.0000,C23 C25 C27,...,0,0,1,0,0,0,0,0,0,1
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,29.699118,0,0,330959,7.8792,NaN,...,0,0,0,0,0,0,0,0,1,0
30,0,3,"Todoroff, Mr. Lalio",0,29.699118,0,0,349216,7.8958,NaN,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",0,21.000000,1,0,28134,11.5000,NaN,...,0,0,1,0,0,0,0,0,0,1
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.000000,0,0,17466,25.9292,D17,...,0,0,1,0,0,0,0,0,0,1
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,29.699118,8,2,CA. 2343,69.5500,NaN,...,0,0,0,1,0,0,0,0,0,1
865,0,2,"Gill, Mr. John William",0,24.000000,0,0,233866,13.0000,NaN,...,0,0,0,0,0,0,0,0,0,1
866,1,2,"Bystrom, Mrs. (Karolina)",1,42.000000,0,0,236852,13.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
867,1,2,"Duran y More, Miss. Asuncion",1,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,...,0,0,0,1,0,0,0,1,0,0
868,0,1,"Roebling, Mr. Washington Augustus II",0,31.000000,0,0,PC 17590,50.4958,A24,...,0,0,0,0,0,0,0,0,0,1
869,0,3,"van Melkebeke, Mr. Philemon",0,29.699118,0,0,345777,9.5000,NaN,...,0,0,1,0,0,0,0,0,0,1
870,1,3,"Johnson, Master. Harold Theodor",0,4.000000,1,1,347742,11.1333,NaN,...,0,0,1,0,0,0,0,0,0,1
871,0,3,"Balkic, Mr. Cerin",0,26.000000,0,0,349248,7.8958,NaN,...,0,0,0,0,0,0,0,0,0,1
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.000000,1,1,11751,52.5542,D35,...,0,0,1,0,0,0,0,0,0,1
873,0,1,"Carlsson, Mr. Frans Olof",0,33.000000,0,0,695,5.0000,B51 B53 B55,...,0,0,0,1,0,0,0,0,0,1
874,0,3,"Vander Cruyssen, Mr. Victor",0,47.000000,0,0,345765,9.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.000000,1,0,P/PP 3381,24.0000,NaN,...,0,0,1,0,0,0,0,1,0,0
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.000000,0,0,2667,7.2250,NaN,...,0,0,0,1,0,0,0,1,0,0
877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.000000,0,0,7534,9.8458,NaN,...,0,0,0,0,0,0,0,0,0,1
878,0,3,"Petroff, Mr. Nedelio",0,19.000000,0,0,349212,7.8958,NaN,...,0,0,1,0,0,0,0,0,0,1
879,0,3,"Laleff, Mr. Kristo",0,29.699118,0,0,349217,7.8958,NaN,...,0,0,1,0,0,0,0,0,0,1
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.000000,0,1,11767,83.1583,C50,...,0,0,1,0,0,0,0,1,0,0
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.000000,0,1,230433,26.0000,NaN,...,0,0,0,1,0,0,0,0,0,1
882,0,3,"Markun, Mr. Johann",0,33.000000,0,0,349257,7.8958,NaN,...,0,0,0,1,0,0,0,0,0,1
883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.000000,0,0,7552,10.5167,NaN,...,0,0,1,0,0,0,0,0,0,1
884,0,2,"Banfield, Mr. Frederick James",0,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,...,0,0,0,0,0,0,0,0,0,1
885,0,3,"Sutehall, Mr. Henry Jr",0,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,...,0,0,1,0,0,0,0,0,0,1
886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.000000,0,5,382652,29.1250,NaN,...,0,0,1,0,0,0,0,0,1,0
887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,...,0,0,0,1,0,0,0,0,0,1
888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,...,0,0,0,0,0,1,0,0,0,1
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,...,0,0,0,0,0,0,0,0,0,1
890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,...,0,0,0,0,0,0,0,1,0,0
891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,...,0,0,1,0,0,0,0,0,1,0

In [8]:
def check(value):
    if value != 0:
        return len(value)
    else:
        return 0


cabin = df['Cabin'].str.split().fillna(0).apply(lambda x: check(x))

df['Cabin'] = cabin

In [9]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,...,PersonalTitle_Mlle,PersonalTitle_Mme,PersonalTitle_Mr,PersonalTitle_Mrs,PersonalTitle_Ms,PersonalTitle_Rev,PersonalTitle_Sir,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,0,...,0,0,1,0,0,0,0,0,0,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,1,...,0,0,0,1,0,0,0,1,0,0
3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,0,...,0,0,0,0,0,0,0,0,0,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,1,...,0,0,0,1,0,0,0,0,0,1
5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,0,...,0,0,1,0,0,0,0,0,0,1
6,0,3,"Moran, Mr. James",0,29.699118,0,0,330877,8.4583,0,...,0,0,1,0,0,0,0,0,1,0
7,0,1,"McCarthy, Mr. Timothy J",0,54.000000,0,0,17463,51.8625,1,...,0,0,1,0,0,0,0,0,0,1
8,0,3,"Palsson, Master. Gosta Leonard",0,2.000000,3,1,349909,21.0750,0,...,0,0,0,0,0,0,0,0,0,1
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.000000,0,2,347742,11.1333,0,...,0,0,0,1,0,0,0,0,0,1
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.000000,1,0,237736,30.0708,0,...,0,0,0,1,0,0,0,1,0,0
11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.000000,1,1,PP 9549,16.7000,1,...,0,0,0,0,0,0,0,0,0,1
12,1,1,"Bonnell, Miss. Elizabeth",1,58.000000,0,0,113783,26.5500,1,...,0,0,0,0,0,0,0,0,0,1
13,0,3,"Saundercock, Mr. William Henry",0,20.000000,0,0,A/5. 2151,8.0500,0,...,0,0,1,0,0,0,0,0,0,1
14,0,3,"Andersson, Mr. Anders Johan",0,39.000000,1,5,347082,31.2750,0,...,0,0,1,0,0,0,0,0,0,1
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.000000,0,0,350406,7.8542,0,...,0,0,0,0,0,0,0,0,0,1
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.000000,0,0,248706,16.0000,0,...,0,0,0,1,0,0,0,0,0,1
17,0,3,"Rice, Master. Eugene",0,2.000000,4,1,382652,29.1250,0,...,0,0,0,0,0,0,0,0,1,0
18,1,2,"Williams, Mr. Charles Eugene",0,29.699118,0,0,244373,13.0000,0,...,0,0,1,0,0,0,0,0,0,1
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.000000,1,0,345763,18.0000,0,...,0,0,0,1,0,0,0,0,0,1
20,1,3,"Masselmani, Mrs. Fatima",1,29.699118,0,0,2649,7.2250,0,...,0,0,0,1,0,0,0,1,0,0
21,0,2,"Fynney, Mr. Joseph J",0,35.000000,0,0,239865,26.0000,0,...,0,0,1,0,0,0,0,0,0,1
22,1,2,"Beesley, Mr. Lawrence",0,34.000000,0,0,248698,13.0000,1,...,0,0,1,0,0,0,0,0,0,1
23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.000000,0,0,330923,8.0292,0,...,0,0,0,0,0,0,0,0,1,0
24,1,1,"Sloper, Mr. William Thompson",0,28.000000,0,0,113788,35.5000,1,...,0,0,1,0,0,0,0,0,0,1
25,0,3,"Palsson, Miss. Torborg Danira",1,8.000000,3,1,349909,21.0750,0,...,0,0,0,0,0,0,0,0,0,1
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.000000,1,5,347077,31.3875,0,...,0,0,0,1,0,0,0,0,0,1
27,0,3,"Emir, Mr. Farred Chehab",0,29.699118,0,0,2631,7.2250,0,...,0,0,1,0,0,0,0,1,0,0
28,0,1,"Fortune, Mr. Charles Alexander",0,19.000000,3,2,19950,263.0000,3,...,0,0,1,0,0,0,0,0,0,1
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,29.699118,0,0,330959,7.8792,0,...,0,0,0,0,0,0,0,0,1,0
30,0,3,"Todoroff, Mr. Lalio",0,29.699118,0,0,349216,7.8958,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",0,21.000000,1,0,28134,11.5000,0,...,0,0,1,0,0,0,0,0,0,1
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.000000,0,0,17466,25.9292,1,...,0,0,1,0,0,0,0,0,0,1
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,29.699118,8,2,CA. 2343,69.5500,0,...,0,0,0,1,0,0,0,0,0,1
865,0,2,"Gill, Mr. John William",0,24.000000,0,0,233866,13.0000,0,...,0,0,0,0,0,0,0,0,0,1
866,1,2,"Bystrom, Mrs. (Karolina)",1,42.000000,0,0,236852,13.0000,0,...,0,0,1,0,0,0,0,0,0,1
867,1,2,"Duran y More, Miss. Asuncion",1,27.000000,1,0,SC/PARIS 2149,13.8583,0,...,0,0,0,1,0,0,0,1,0,0
868,0,1,"Roebling, Mr. Washington Augustus II",0,31.000000,0,0,PC 17590,50.4958,1,...,0,0,0,0,0,0,0,0,0,1
869,0,3,"van Melkebeke, Mr. Philemon",0,29.699118,0,0,345777,9.5000,0,...,0,0,1,0,0,0,0,0,0,1
870,1,3,"Johnson, Master. Harold Theodor",0,4.000000,1,1,347742,11.1333,0,...,0,0,1,0,0,0,0,0,0,1
871,0,3,"Balkic, Mr. Cerin",0,26.000000,0,0,349248,7.8958,0,...,0,0,0,0,0,0,0,0,0,1
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.000000,1,1,11751,52.5542,1,...,0,0,1,0,0,0,0,0,0,1
873,0,1,"Carlsson, Mr. Frans Olof",0,33.000000,0,0,695,5.0000,3,...,0,0,0,1,0,0,0,0,0,1
874,0,3,"Vander Cruyssen, Mr. Victor",0,47.000000,0,0,345765,9.0000,0,...,0,0,1,0,0,0,0,0,0,1
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.000000,1,0,P/PP 3381,24.0000,0,...,0,0,1,0,0,0,0,1,0,0
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.000000,0,0,2667,7.2250,0,...,0,0,0,1,0,0,0,1,0,0
877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.000000,0,0,7534,9.8458,0,...,0,0,0,0,0,0,0,0,0,1
878,0,3,"Petroff, Mr. Nedelio",0,19.000000,0,0,349212,7.8958,0,...,0,0,1,0,0,0,0,0,0,1
879,0,3,"Laleff, Mr. Kristo",0,29.699118,0,0,349217,7.8958,0,...,0,0,1,0,0,0,0,0,0,1
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.000000,0,1,11767,83.1583,1,...,0,0,1,0,0,0,0,1,0,0
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.000000,0,1,230433,26.0000,0,...,0,0,0,1,0,0,0,0,0,1
882,0,3,"Markun, Mr. Johann",0,33.000000,0,0,349257,7.8958,0,...,0,0,0,1,0,0,0,0,0,1
883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.000000,0,0,7552,10.5167,0,...,0,0,1,0,0,0,0,0,0,1
884,0,2,"Banfield, Mr. Frederick James",0,28.000000,0,0,C.A./SOTON 34068,10.5000,0,...,0,0,0,0,0,0,0,0,0,1
885,0,3,"Sutehall, Mr. Henry Jr",0,25.000000,0,0,SOTON/OQ 392076,7.0500,0,...,0,0,1,0,0,0,0,0,0,1
886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.000000,0,5,382652,29.1250,0,...,0,0,1,0,0,0,0,0,1,0
887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,0,...,0,0,0,1,0,0,0,0,0,1
888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,1,...,0,0,0,0,0,1,0,0,0,1
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,0,...,0,0,0,0,0,0,0,0,0,1
890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,1,...,0,0,0,0,0,0,0,1,0,0
891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
X = df[['Pclass','Age','Fare','Sex','Cabin','Embarked_C','Embarked_Q','Embarked_S','PersonalTitle_Mr','PersonalTitle_Ms','PersonalTitle_Miss','PersonalTitle_Mrs']]
y = df['Survived']

In [11]:
#fit model two
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# Train the model using the training sets and check score
model.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
#test the model
test = pd.read_csv('/tmp/data/test.csv',index_col=['PassengerId'])




cleaning_age(test)
cleaning_fare(test)

sex_to_number(test)
test = pd.get_dummies(test, columns=["Embarked"])

adding_personal_title(test)
test = pd.get_dummies(test, columns=["PersonalTitle"])

cabin = test['Cabin'].str.split().fillna(0).apply(lambda x: check(x))

test['Cabin'] = cabin

test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,...,Embarked_S,PersonalTitle_Col,PersonalTitle_Dona,PersonalTitle_Dr,PersonalTitle_Master,PersonalTitle_Miss,PersonalTitle_Mr,PersonalTitle_Mrs,PersonalTitle_Ms,PersonalTitle_Rev
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,3,"Kelly, Mr. James",0,34.50000,0,0,330911,7.8292,0,0,...,0,0,0,0,0,0,1,0,0,0
893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.00000,1,0,363272,7.0000,0,0,...,1,0,0,0,0,0,0,1,0,0
894,2,"Myles, Mr. Thomas Francis",0,62.00000,0,0,240276,9.6875,0,0,...,0,0,0,0,0,0,1,0,0,0
895,3,"Wirz, Mr. Albert",0,27.00000,0,0,315154,8.6625,0,0,...,1,0,0,0,0,0,1,0,0,0
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.00000,1,1,3101298,12.2875,0,0,...,1,0,0,0,0,0,0,1,0,0
897,3,"Svensson, Mr. Johan Cervin",0,14.00000,0,0,7538,9.2250,0,0,...,1,0,0,0,0,0,1,0,0,0
898,3,"Connolly, Miss. Kate",1,30.00000,0,0,330972,7.6292,0,0,...,0,0,0,0,0,1,0,0,0,0
899,2,"Caldwell, Mr. Albert Francis",0,26.00000,1,1,248738,29.0000,0,0,...,1,0,0,0,0,0,1,0,0,0
900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",1,18.00000,0,0,2657,7.2292,0,1,...,0,0,0,0,0,0,0,1,0,0
901,3,"Davies, Mr. John Samuel",0,21.00000,2,0,A/4 48871,24.1500,0,0,...,1,0,0,0,0,0,1,0,0,0
902,3,"Ilieff, Mr. Ylio",0,30.27259,0,0,349220,7.8958,0,0,...,1,0,0,0,0,0,1,0,0,0
903,1,"Jones, Mr. Charles Cresson",0,46.00000,0,0,694,26.0000,0,0,...,1,0,0,0,0,0,1,0,0,0
904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.00000,1,0,21228,82.2667,1,0,...,1,0,0,0,0,0,0,1,0,0
905,2,"Howard, Mr. Benjamin",0,63.00000,1,0,24065,26.0000,0,0,...,1,0,0,0,0,0,1,0,0,0
906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.00000,1,0,W.E.P. 5734,61.1750,1,0,...,1,0,0,0,0,0,0,1,0,0
907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",1,24.00000,1,0,SC/PARIS 2167,27.7208,0,1,...,0,0,0,0,0,0,0,1,0,0
908,2,"Keane, Mr. Daniel",0,35.00000,0,0,233734,12.3500,0,0,...,0,0,0,0,0,0,1,0,0,0
909,3,"Assaf, Mr. Gerios",0,21.00000,0,0,2692,7.2250,0,1,...,0,0,0,0,0,0,1,0,0,0
910,3,"Ilmakangas, Miss. Ida Livija",1,27.00000,1,0,STON/O2. 3101270,7.9250,0,0,...,1,0,0,0,0,1,0,0,0,0
911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",1,45.00000,0,0,2696,7.2250,0,1,...,0,0,0,0,0,0,0,1,0,0
912,1,"Rothschild, Mr. Martin",0,55.00000,1,0,PC 17603,59.4000,0,1,...,0,0,0,0,0,0,1,0,0,0
913,3,"Olsen, Master. Artur Karl",0,9.00000,0,1,C 17368,3.1708,0,0,...,1,0,0,0,1,0,0,0,0,0
914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,30.27259,0,0,PC 17598,31.6833,0,0,...,1,0,0,0,0,0,0,1,0,0
915,1,"Williams, Mr. Richard Norris II",0,21.00000,0,1,PC 17597,61.3792,0,1,...,0,0,0,0,0,0,1,0,0,0
916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.00000,1,3,PC 17608,262.3750,4,1,...,0,0,0,0,0,0,0,1,0,0
917,3,"Robins, Mr. Alexander A",0,50.00000,1,0,A/5. 3337,14.5000,0,0,...,1,0,0,0,0,0,1,0,0,0
918,1,"Ostby, Miss. Helene Ragnhild",1,22.00000,0,1,113509,61.9792,1,1,...,0,0,0,0,0,1,0,0,0,0
919,3,"Daher, Mr. Shedid",0,22.50000,0,0,2698,7.2250,0,1,...,0,0,0,0,0,0,1,0,0,0
920,1,"Brady, Mr. John Bertram",0,41.00000,0,0,113054,30.5000,1,0,...,1,0,0,0,0,0,1,0,0,0
921,3,"Samaan, Mr. Elias",0,30.27259,2,0,2662,21.6792,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3,"Canavan, Mr. Patrick",0,21.00000,0,0,364858,7.7500,0,0,...,0,0,0,0,0,0,1,0,0,0
1281,3,"Palsson, Master. Paul Folke",0,6.00000,3,1,349909,21.0750,0,0,...,1,0,0,0,1,0,0,0,0,0
1282,1,"Payne, Mr. Vivian Ponsonby",0,23.00000,0,0,12749,93.5000,1,0,...,1,0,0,0,0,0,1,0,0,0
1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,51.00000,0,1,PC 17592,39.4000,1,0,...,1,0,0,0,0,0,0,1,0,0
1284,3,"Abbott, Master. Eugene Joseph",0,13.00000,0,2,C.A. 2673,20.2500,0,0,...,1,0,0,0,1,0,0,0,0,0
1285,2,"Gilbert, Mr. William",0,47.00000,0,0,C.A. 30769,10.5000,0,0,...,1,0,0,0,0,0,1,0,0,0
1286,3,"Kink-Heilmann, Mr. Anton",0,29.00000,3,1,315153,22.0250,0,0,...,1,0,0,0,0,0,1,0,0,0
1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",1,18.00000,1,0,13695,60.0000,1,0,...,1,0,0,0,0,0,0,1,0,0
1288,3,"Colbert, Mr. Patrick",0,24.00000,0,0,371109,7.2500,0,0,...,0,0,0,0,0,0,1,0,0,0
1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,48.00000,1,1,13567,79.2000,1,1,...,0,0,0,0,0,0,0,1,0,0
1290,3,"Larsson-Rondberg, Mr. Edvard A",0,22.00000,0,0,347065,7.7750,0,0,...,1,0,0,0,0,0,1,0,0,0
1291,3,"Conlon, Mr. Thomas Henry",0,31.00000,0,0,21332,7.7333,0,0,...,0,0,0,0,0,0,1,0,0,0
1292,1,"Bonnell, Miss. Caroline",1,30.00000,0,0,36928,164.8667,1,0,...,1,0,0,0,0,1,0,0,0,0
1293,2,"Gale, Mr. Harry",0,38.00000,1,0,28664,21.0000,0,0,...,1,0,0,0,0,0,1,0,0,0
1294,1,"Gibson, Miss. Dorothy Winifred",1,22.00000,0,1,112378,59.4000,0,1,...,0,0,0,0,0,1,0,0,0,0
1295,1,"Carrau, Mr. Jose Pedro",0,17.00000,0,0,113059,47.1000,0,0,...,1,0,0,0,0,0,1,0,0,0
1296,1,"Frauenthal, Mr. Isaac Gerald",0,43.00000,1,0,17765,27.7208,1,1,...,0,0,0,0,0,0,1,0,0,0
1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,20.00000,0,0,SC/PARIS 2166,13.8625,1,1,...,0,0,0,0,0,0,1,0,0,0
1298,2,"Ware, Mr. William Jeffery",0,23.00000,1,0,28666,10.5000,0,0,...,1,0,0,0,0,0,1,0,0,0
1299,1,"Widener, Mr. George Dunton",0,50.00000,1,1,113503,211.5000,1,1,...,0,0,0,0,0,0,1,0,0,0
1300,3,"Riordan, Miss. Johanna Hannah""""",1,30.27259,0,0,334915,7.7208,0,0,...,0,0,0,0,0,1,0,0,0,0
1301,3,"Peacock, Miss. Treasteall",1,3.00000,1,1,SOTON/O.Q. 3101315,13.7750,0,0,...,1,0,0,0,0,1,0,0,0,0
1302,3,"Naughton, Miss. Hannah",1,30.27259,0,0,365237,7.7500,0,0,...,0,0,0,0,0,1,0,0,0,0
1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,37.00000,1,0,19928,90.0000,1,0,...,0,0,0,0,0,0,0,1,0,0
1304,3,"Henriksson, Miss. Jenny Lovisa",1,28.00000,0,0,347086,7.7750,0,0,...,1,0,0,0,0,1,0,0,0,0
1305,3,"Spector, Mr. Woolf",0,30.27259,0,0,A.5. 3236,8.0500,0,0,...,1,0,0,0,0,0,1,0,0,0
1306,1,"Oliva y Ocana, Dona. Fermina",1,39.00000,0,0,PC 17758,108.9000,1,1,...,0,0,1,0,0,0,0,0,0,0
1307,3,"Saether, Mr. Simon Sivertsen",0,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,0,0,...,1,0,0,0,0,0,1,0,0,0
1308,3,"Ware, Mr. Frederick",0,30.27259,0,0,359309,8.0500,0,0,...,1,0,0,0,0,0,1,0,0,0
1309,3,"Peter, Master. Michael J",0,30.27259,1,1,2668,22.3583,0,1,...,0,0,0,0,1,0,0,0,0,0

In [13]:
#test with linear regresion
X_test = test[['Pclass','Age','Fare','Sex','Cabin','Embarked_C','Embarked_Q','Embarked_S','PersonalTitle_Mr','PersonalTitle_Ms','PersonalTitle_Miss','PersonalTitle_Mrs']]

In [14]:
y_pred = model.predict(X_test)
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0])

In [15]:
result = pd.DataFrame(data={'PassengerId':X_test.index,'Survived':y_pred})

result

In [16]:
result.to_csv('/tmp/data/pred.csv',header=True,index=False)